TEAM_ID=

PRODUCT_NAME=VtuberCamera_KMP_ver
PRODUCT_BUNDLE_IDENTIFIER=com.example.vtubercamera_kmp_ver.VtuberCamera_KMP_ver$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0
IPHONEOS_DEPLOYMENT_TARGET=18.5

#include? "Filament.xcconfig"

HEADER_SEARCH_PATHS = $(inherited) $(FILAMENT_HEADER_SEARCH_PATHS)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FILAMENT_FRAMEWORK_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(inherited) $(FILAMENT_LIBRARY_SEARCH_PATHS)
OTHER_LDFLAGS = $(inherited) $(FILAMENT_OTHER_LDFLAGS)
