<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>カメラプレビューを表示して撮影するために使用します。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>動画を録画するときに音声を録音するために使用します。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>録画した動画を写真ライブラリへ保存するために使用します。</string>
</dict>
</plist>
